/*FUENTES*/
/*************************** ROBOTO REGULAR *********************************/
@font-face {
    font-family: 'robotoregular';
    src: url('fuentes/roboto-regular/roboto-regular-webfont.eot');
    src: url('fuentes/roboto-regular/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fuentes/roboto-regular/roboto-regular-webfont.woff') format('woff'),
         url('fuentes/roboto-regular/roboto-regular-webfont.ttf') format('truetype'),
         url('fuentes/roboto-regular/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*************************** OPEN SANS *********************************/
@font-face {
    font-family: 'open_sansregular';
    src: url('fuentes/opensans/opensans-regular-webfont.eot');
    src: url('fuentes/opensans/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fuentes/opensans/opensans-regular-webfont.woff') format('woff'),
         url('fuentes/opensans/opensans-regular-webfont.ttf') format('truetype'),
         url('fuentes/opensans/opensans-regular-webfont.svg#open_sansregular') format('svg');
}
*{
	outline: none !important;
}
body{
	font-family: 'open_sansregular';
	color: #666;
}
header{}
label{
	-moz-user-select: none;
	-webkit-user-select: none;
}
/*** FORMULARIO */
.alerta-campo{
	color:red;
}

.obligatorio:after{
	content:" *";
  	color:red;
}
.navbar{
	padding: 25px 30px;
	margin: 0;
	border: 0;
	border-bottom: 1px solid #ddd;
	border-radius: 0;
}
.navbar-brand{
	padding: 0;
	height: auto;
}
.panel{
	border-radius: 0;
	border-color: transparent;
	box-shadow: none;
	margin: 30px auto 50px;
}
.panel-default > .col-md-12{
	background-color: #e0e0e0;
    padding: 20px 0;
    margin: -1px 0 0;
    border-bottom: 1px solid #cccaca;
}
.panel-default > .col-md-12 label{
	margin: 0;
	color: #002a69;
	border-right: 1px solid #ccc;
}
.panel-default > .col-md-12 * {
    width: 16.66666667%;
}
.panel-default > .panel-heading{
	border-radius: 0;
	font-family: 'robotoregular';
	color: #fff;
	background-color: #002a69;
	font-size: 17px;
	padding: 15px 20px;
	line-height: 1;
}
.panel-body{
	padding: 15px 19px;
	border: 1px solid #ddd;
	border-top: none;
}
.btn, .form-control{
	box-shadow: none !important;
	border-radius: 0;
}
.form-control:focus{
	border-color: #ccc;
}
.col-md-6 .form-control{
	background-color: #fcfcfc;
	border-color: #D6D7D9;
	border-top-width: 2px;
}
.col-md-6 .form-control:focus{
	border-top-color: #e64a14;
}
.checkbox label{
	color: #6C6B6F;
}
.form-group .btn, .btn-success{
	padding: 8px 25px 8px 40px;
	font-size: 15px;
	background-color: #D7D8DB;
	color: #6C6B6F;
	border-color: #ADABAC;
	border-bottom-width: 2px;
	position: relative;
}
.form-group .btn.btn-primary i{
	position: absolute;
	left: 15px;
	top: 11px;
}
.form-group .btn:hover, .form-group .btn:active, .btn-success:hover, .btn-success:active, .btn-success:focus{
	color: #fff;
	background-color: #e64a14 !important;
	border-color: #b13307 !important;
}
footer{
	width: 100%;
	padding: 15px;
	background-color: #002a69;
	font-size: 12px;
	line-height: 1;
	color: #ddd;
}
.navbar-default .navbar-nav:first-child{
	margin: 10px 0 0 30px;
}
.navbar-default .navbar-nav:first-child li{
	margin: 0 5px 0 15px;
	padding: 0 15px 0 0;
	border-right: 1px solid #999;
}
.navbar-default .navbar-nav:first-child li:last-child{
	border: none;
}
.navbar-default .navbar-nav:first-child > li > a{
	padding: 0;
	line-height: 1;
}
.navbar-default .navbar-nav:first-child > li > a:hover{
	color: #002a69;
}
.navbar-default .navbar-nav.navbar-right > li > a{
	padding: 5px 10px;
}
.navbar-nav > li > .dropdown-menu{
	margin: 10px 0 0;
}
.help-inline{
	padding: 5px 10px;
    margin: 10px 0 0;
    display: inline-block;
    background-color: #ddd;
    font-size: 13px;
}
.panel-heading h4{
	margin: 8px 0 0;
}
.panel-heading .btn-primary{
	background-color: #e64a14;
	border-color: #e64a14;
	padding: 6px 25px;
	z-index: 10;
}
.panel-heading .btn-primary:hover, .panel-heading .btn-primary:focus{
	background-color: #adabac;
	border-color: #adabac;
}
.panel-heading .btn-success{
	padding: 8px 20px;
	line-height: 1;
	background-color: #fff;
}
.panel-heading .btn-success:before{
	content: "\f249";
	font-family: 'FontAwesome';
	margin: 0 10px 0 0;
}
.table > thead{
	background-color: #f8f8f8;
}
.table > thead > tr > th{
	color: #002a69;
	font-family: 'robotoregular';
	font-weight: normal;
	font-size: 13px;
	text-transform: uppercase;
}
.table > thead > tr > th, .table > tbody > tr > td{
	padding: 10px;
	border: 1px solid #eee;
	vertical-align: middle;
	position: relative;
}
.table > thead > tr > th a{
	color: #e64a14;
}
.table > thead > tr > th .fa{
	position: absolute;
	right: 8px;
	top: 50%;
	transform: translateY(-50%);
}
.table > tbody > tr:nth-child(even){
	background-color: #f8f8f8;
}
.table tr .col-md-1{
	text-align: center;
}
.table tr td .btn-group{
    width: 100%;
    text-align: center;
	display: table;
}
.table tr td form.inline .btn-group{
	display: inherit;
}
.table tr td .btn{
	border-radius: 0;
	border-width: 1px;
	background: #eee;
	color: #666;
	border-color: #ddd;
	float: none;
	margin: 0 1px;
}
.table tr td .btn:hover, .table tr td .btn:active, .table tr td .btn:focus{
	color: #fff;
}
.table tr td .btn-success:hover, .table tr td button.btn-success, .table tr td .btn-success:active, .table tr td .btn-success:focus{
    background-color: #5cb85c !important;
	border-color: #4cae4c !important;
	color: #fff;
}
.table tr td .btn-primary:hover, .table tr td .btn-primary:active, .table tr td .btn-primary:focus{
    background-color: #286090;
	border-color: #204d74;
}
.table tr td button.btn-warning, .table tr td .btn-warning:hover, .table tr td .btn-warning:active, .table tr td .btn-warning:focus{
    background-color: #ec971f;
	border-color: #d58512;
	color: #fff;
}
.table tr td a.btn-danger, .table tr td .btn-danger:hover, .table tr td .btn-danger:active, .table tr td .btn-danger:focus{
    background-color: #c9302c;
	border-color: #ac2925;
	color: #fff;
}
.table tr td .btn-default:hover, .table tr td .btn-default:active, .table tr td .btn-default:focus{
	color: #666 !important;
    background-color: #e6e6e6;
	border-color: #adadad;
}
.col-md-12 .btn-success{
	padding: 8px 30px;
	margin: 20px 0 0;
}
.alert-success{
	width: 97.5%;
	margin: 30px auto 0;
}
.pagination li span, .pagination li a{
	border-radius: 0 !important;
	-webkit-user-select: none;
	-moz-user-select: none;
}
.pagination li a{
	color: #666;
}
.pagination > li > a:hover{
	color: #002a69;
}
.pagination > .active > span{
	background-color: #e64a14 !important;
	border-color: #b13307 !important;
}

/*// breadcrumbs*/
.breadcrumb{
	border-radius: 0;
    padding: 10px 15px;
    margin: 0;
    background-color: #f2f2f2;
}
.breadcrumb li a{
	font-size: 11px;
	color: #002a69;
	text-transform: uppercase;
	letter-spacing: 0.04em;
	text-decoration: none;
}
.breadcrumb li a:hover{
	border-bottom: 1px solid #002a69;
}
.breadcrumb li.active{
	color: #333;
	font-size: 13px;
	text-transform: capitalize;
}
/*// respuestas*/
.table .list-group{
	margin: 0;
}
.table .list-group-item{
	border-radius: 0;
}
.table .list-group-item.active{
	background-color: #f2f2f2;
	border-color: transparent;
	padding: 20px;
}
.table .list-group-item{
	padding: 15px;
}
.table .list-group-item.active h4{
	font-weight: 500;
}
.table .list-group-item h4{
	color: #e64a14 !important;
	font-family: 'robotoregular';
	margin: 0 0 10px;
}
.table .list-group-item p{
	color: #333 !important;
	line-height: 1.5;
}
.table .list-group-item p small{
	color: #333;
}
.table .list-group-item p small b{
	color: #002a69;
}